.App {
  overflow: hidden;
  height: 100vh;
  background-color: #002B5B;
  scroll-behavior: smooth;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.bg-first{
  background-color: #159895;
}
.bg-second{
  background-color: #1A5F7A;
}
.bg-third{
  background-color: #002B5B;
}
.bg-fourth{
  background-color: #012f3f;
}
.bg-fifth{
  background-color: #6f2881;
}
.scrollbar::-webkit-scrollbar{
  width:0;
  height: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
